html, body {
    font-family: 'Exo 2', sans-serif;
    padding: 15px;
    color:#181818;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 17px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color: rgb(63, 154, 222);
}

a:hover{
    text-decoration: underline;
}

#container{
    width:100%;
}

#profile-image{
    border-radius: 25px;
    width:50%;
    max-width:190px;
    margin-right:35px;
}

.project-img{
    margin-right:35px;
    margin-bottom:10px;
    width:200px;
}

.social-link{
    width:100%;
    float: left;
}

.social-link img{
    width:60px;
    float:left;
}

.social-link span{
    font-size:30px;
    display: inline-block;
    float:left;
    height:60px;
    line-height: 60px;
    vertical-align: middle;
    margin-left:20px;
}

a.soc-a{
    margin-top:45px;
    color:#181818;
    display:block;
    height:60px;
    width:100%;
}

h1.proj-header{
    margin-top:60px;
}

#top-contain{
    overflow:hidden;
    clear:both;
}

h2{
    margin-bottom: 2px;
}

p{
    margin-top:0px;
}

.project-subtitle{
    color: #474747;
    font-style: italic;
    display: inline-block;
    width:100%;
    margin-bottom:20px;
}

#end-email{
    background-color:#ccc;
    padding:10px;
    border:2px dashed #474747;
}

#end-email .email-subline{
    font-weight:bold;
    font-size:25px;
    display:inline-block;
    margin-bottom:10px;
}

.envelope-icon{
    width:100px;
    margin-left:25px;
    margin-right:20px;
}

a.email-link{
    color:#474747;
}

a.email-link:hover{
    text-decoration: none;
}

h1.mark-h1{
    margin-top:0;
}
